@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--gradient: #2e1065;
		--background: 278 31.6% 96.3%;
		--foreground: 278 7.3% 0.92%;

		--muted: 278 7.3% 92.3%;
		--muted-foreground: 278 3.65% 42.3%;

		--popover: 278 98.65% 98.46%;
		--popover-foreground: 278 7.3% 1.15%;

		--card: 278 98.65% 98.46%;
		--card-foreground: 278 7.3% 1.15%;

		--border: 278 12.3% 89.92%;
		--input: 278 12.3% 89.92%;

		--primary: 278 73% 23%;
		--primary-foreground: 278 1.46% 92.3%;

		--secondary: 278 3.65% 96.15%;
		--secondary-foreground: 278 5.38% 12.3%;

		--accent: 278 3.65% 96.15%;
		--accent-foreground: 278 5.38% 12.3%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 278 73% 23%;

		--successive: 142 76% 36%;
		--successive-foreground: 0 0% 100%;

		--informative: 213 91% 60%;
		--informative-foreground: 0 0% 98%;

		--warning: 38 92% 50%;
		--warning-foreground: 0 0% 98%;

		--radius: 0.75rem;
	}

	.dark,
	:root[class~="dark"] {
		--gradient: #6d28d9;

		--background: 280 45.5% 4.08%;
		--foreground: 280 7% 97.55%;

		--muted: 280 35% 15.3%;
		--muted-foreground: 280 7% 55.1%;

		--popover: 280 51% 6.63%;
		--popover-foreground: 280 7% 97.55%;

		--card: 280 51% 6.63%;
		--card-foreground: 280 7% 97.55%;

		--border: 280 35% 15.3%;
		--input: 280 35% 15.3%;

		--primary: 280 70% 51%;
		--primary-foreground: 280 7% 5.1%;

		--secondary: 280 35% 15.3%;
		--secondary-foreground: 280 7% 97.55%;

		--accent: 280 35% 15.3%;
		--accent-foreground: 280 7% 97.55%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 280 7% 97.55%;

		--ring: 280 70% 51%;
	}
}

@layer base {
	* {
		@apply border-border font-mono;
	}
	/* width */
	*::-webkit-scrollbar {
		width: 1rem;
		height: 1rem;
	}

	/* Track */
	*::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	*::-webkit-scrollbar-thumb {
		background: hsl(var(--muted-foreground));
		border: 0.25rem solid transparent;
		background-clip: padding-box;
		min-height: 3rem;
		@apply rounded-full transition-all;

		/* Handle on hover */
	}

	*::-webkit-scrollbar-thumb:hover {
		background: hsl(var(--muted-foreground));
		border: 0.25rem solid transparent;
		background-clip: padding-box;
	}

	html {
		@apply flex h-dvh w-dvw flex-col items-center justify-center bg-card p-1 text-sm;

		body {
			@apply relative h-full w-full bg-background font-sans text-foreground;
			overflow: hidden;

			div#root {
				@apply relative h-full w-full overflow-hidden scroll-smooth rounded-lg border;
				font-feature-settings:
					"rlig" 1,
					"calt" 1;
			}
		}
	}
}

@layer utilities {
	.step {
		counter-increment: step;
	}

	.step:before {
		@apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
		@apply ml-[-50px] mt-[-4px];
		content: counter(step);
	}
}

@media (max-width: 640px) {
	.container {
		@apply px-4;
	}
}
